# Ignore Python cache files
__pychache__/
*.py[codz]
*$py.class


# Ignore virtual environment directories
venv/
env/

# Ignore FastMCP build artifacts
build/
dist/

# Ignore IDE specific files
# .vscode/

